<div class="container">
    <h2 style="text-align: center;">{{ label }}</h2>
		<br />
		<div class="one_third">
			<div class="framed-box">
				<div class="framed-box-wrap">
					<div class="pricing-title {{ content.field_color|field_value }}">
					<h4 class="nocaps teaser">{{ content.field_block_1_title }}</h4>
					</div>
					<div class="pricing-text-list">
            {{ content.field_block_1 }}
						<br />
					<p><a href="{{ content.field_block_1_button_link|field_value }}" class="but_download"> {{ content.field_block_1_button_text|field_value }}</a></p>
					</div>
				</div>
				
			</div>
		</div><!-- end section -->
        
    <div class="one_third">
			<div class="framed-box">
				<div class="framed-box-wrap">
					<div class="pricing-title {{ content.field_color|field_value }}">
					<h4 class="nocaps teaser">{{ content.field_block_2_title }}</h4>
					</div>
					<div class="pricing-text-list">
            {{ content.field_block_2 }}
						<br />
					<p><a href="{{ content.field_block_2_button_link|field_value }}" class="but_download"> {{ content.field_block_2_button_text|field_value }}</a></p>
					</div>
				</div>
				
			</div>
		</div><!-- end section -->
        
        <div class="one_third last">
			<div class="framed-box">
				<div class="framed-box-wrap">
					<div class="pricing-title {{ content.field_color|field_value }}">
					<h4 class="nocaps teaser">{{ content.field_block_3_title }}</h4>
					</div>
					<div class="pricing-text-list">
            {{ content.field_block_3 }}
						<br />
					<p><a href="{{ content.field_block_3_button_link|field_value }}" class="but_download"> {{ content.field_block_3_button_text|field_value }}</a></p>
					</div>
				</div>
				
			</div>
		</div><!-- end section -->
	</div>