<article{{ attributes }}>

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    <div class="page_title2">
      <div class="container">
          <div class="title"><h1>{{ label }}</h1></div>
      </div>
    </div><!-- end page title --> 
    <div class="clearfix"></div>
   
    <div class="container">
        <div class="content_left">
              <div class="blog_post">	
                  <div class="blog_postcontent">
                  <div class="image_frame"><a href="#"><img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="" /></a></div>
                  <h3>{{ content.field_sub_header }}</h3>
                      <ul class="post_meta_links">
                          <li><a href="#" class="date">{{ date }}</a></li>
                          <li class="post_by"><i>By:</i> {{ author_name }}</li>
                      </ul>
                   <div class="clearfix"></div>
                   <div class="margin_top1"></div>
                      {{ content.body }} 
                  </div>
              </div><!-- /# end post -->
          <div class="clearfix divider_dashed9"></div>
             
                  
      </div><!-- end content left side -->
      
      <!-- right sidebar starts -->
      <div class="right_sidebar">
          
        {% if sidebar_second %}
                {{ sidebar_second }}
            {% endif %} 
          
          <div class="clearfix margin_top5"></div>
          
          <div class="sidebar_widget">
          
            <div class="sidebar_title"><h4><i>Categories</i></h4></div>
          <ul class="arrows_list1">		
                  <li><a href="#"><i class="fa fa-caret-right"></i> Economics</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Social Media</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Economics</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Online Gaming</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Entertainment</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Technology</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Make Money Online</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Photography</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Web Tutorials</a></li>
          </ul>
              
        </div><!-- end section -->
           
          <div class="clearfix margin_top3"></div>
          
        <div class="sidebar_widget">
          
            <div class="sidebar_title"><h3>Site <i>Archives</i></h3></div>
              
          <ul class="arrows_list1">		
                  <li><a href="#"><i class="fa fa-angle-right"></i> July 2014</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i> June 2014</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i> May 2014</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i> April 2014</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i> March 2014</a></li>
          </ul>
              
        </div><!-- end section -->
          
      </div><!-- end right sidebar -->

      </div><!-- end content area -->
</article>