<article{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
   <div class="page_title2">
      <div class="container">
          <div class="title"><h1>{{ label }}</h1></div>
      </div>
    </div><!-- end page title -->
    {% if sidebar_second %}
    <div class="container">
      <div class="content_left">
        {{ content }}
      </div>
      <div class="right_sidebar">
        {{ sidebar_second }}
      </div>
    </div>
    {% else %}
      {{ content }}
    {% endif %} 
  </div>
</article>
