<article{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}
  
  <div{{ content_attributes }}>
    <div class="page_title2">
      <div class="container">
          <div class="title"><h1>{{ label }}</h1></div>
      </div>
    </div><!-- end page title --> 
    <div class="clearfix"></div>
   
    <div class="container">	
      <div class="features_sec42 two"> 
           <div class="two_third first">
                    
            <div class="box animate" data-anim-type="fadeInUp">
                <h2>{{ content.field_position_title }}</h2>
                 {{ content.body }}
            </div><!-- end section -->
      </div>
      <div class="one_fourth last">
        {% if node.field_image.value %}
              <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="" class="rimg" />
        {% endif %}    
            <div class="address_info">
              <ul>
                <li>
                {% if node.field_pos.value %}
                  <strong>Position Type:</strong> {{ content.field_pos|field_value|safe_join(', ') }}<br />
                {% endif %}
                {% if node.field_phn.value %}
                  <strong>Phone:</strong> {{ content.field_phn|field_value }}<br />
                {% endif %}
                {% if node.field_fax.value %}
                  <strong>Fax:</strong> {{ content.field_fax|field_value }}<br />
                {% endif %}
                {% if node.field_email.value %}
                  <strong>E-mail:</strong> <a href="#">{{ content.field_email|field_value }}</a><br />
                {% endif %}
                {% if node.field_address.value %}
                 <strong>Address:</strong> {{ content.field_address }}</li>
                {% endif %}
              </ul>
            </div>
             </div>  
      </div>
        
    </div>
    </div><!-- end content area -->
</article>