<div id="page-wrapper site_wrapper" class="clearfix">
  <div id="page" class="clearfix {{ page_classes }}">
    <header id="header-outer-wrapper" class="outer-wrapper clearfix {{ secondary_menu ? 'with-secondary-menu' : 'without-secondary-menu' }}" role="banner">
      <div id="trueHeader">
        <div id="header-layout" class="{{ region_classes.header }} inner-wrapper clearfix">
          <div class="wrapper">
            {{ page.header }}
          </div>
        </div>
      </div>
    </header> <!-- /.section, /#header-->
    <!-- Highlighted start-->
      <div class="pagenation">
        {% if page.highlighted %}
          {{ page.highlighted }}
        {% endif %}
        </div><!-- Highlighted end-->
  
    <section id="core-outer-wrapper" class="outer-wrapper clearfix">
      <div id="core-layout" class="{{ region_classes.core }} inner-wrapper clearfix">
      <!--Old page.highlighted spot -->       
      </div>
    </section>
    
    
    <section id="content-outer-wrapper" class="outer-wrapper clearfix">
      <div id="main-layout" class="inner-wrapper clearfix">
        {% if node.title.value %}
          
        {% elseif page['#title'] %} <!-- add view titles -->
          <div class="page_title2">
            <div class="container">
              <div class="title"><h1>{{ page['#title'] }}</h1></div>
            </div>
          </div><!-- end page title --> 
        {% endif %}
        
        {% if page.content %}
          {{ page.content }}
        {% endif %}  
    
      </div><!-- /#main -->
    </section><!-- /#main-outer-wrapper -->
    
    {% if page.footer %}
    <footer id="footer-outer-wrapper" class="outer-wrapper clearfix">
      <div id="footer-layout" role="contentinfo" class="{{ region_classes.footer }} inner-wrapper clearfix">
        {{ page.footer }}
      </div> <!-- /#footer -->
    </footer> <!-- /#footer-outer-wrapper -->
    {% endif %}
</div></div> <!-- /#page, /#page-wrapper -->
